/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* rest css */
li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

button {
    font-family: inherit;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
}


input {
    outline: none;
    border: none;
}

/* font */
@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProHeavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProMedium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProBook.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-primary: #F9F9F9;
    --text-secondary: #C0C0C0;
    --btn-color: #0063E5;
    --white: #fff;
    --bg-color: #040714;
    --section-color: #13151D;
}

html {
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    color: var(--text-primary);
    background: var(--bg-color);
    overflow-x: hidden;
}

.icons {
    display: none;
}

.container {
    max-width: 127.8rem;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    height: 67.5rem;
    background: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1rem;
}

.log-btn {
    display: block;
    margin-left: auto;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    outline: none;
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);
    border-radius: .4rem;
    padding: 1.6rem 1.7rem;
    cursor: pointer;
    font-size: 1.8rem;

}

.menu {
    display: none;
    justify-content: end;
}

.menu button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu svg {
    width: 4rem;
    height: 4rem;
    color: var(--white);
}

.header__content {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.9rem;
    margin-top: 10rem;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--btn-color);
    width: 30.7rem;
    height: 6.8rem;
    border-radius: .4rem;


}

.header__description {
    font-size: 1.6rem;
    color: var(--text-secondary);
    margin-top: .5rem;
}

.header__caption {
    font-size: 1.2rem;
    color: var(--text-secondary);
    margin-top: -.5rem;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__plan-btn {
    font-size: 2rem;
}

/* main */


.media {}

.media__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.media__tab {
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 1.2rem;
}

.media__tab--active {
    border-bottom: 4px solid var(--text-primary);
}

.media__wrapper {
    margin-top: 2.4rem;
    margin-bottom: 19rem;
    display: grid;
    grid: auto auto / repeat(3, 1fr);
    gap: 2.4rem;
}

.media__box {
    width: 100%;
    height: 100%;
    display: block;
}

.media__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* plan */
.plan {}

.plan__title {
    font-weight: 900;
    font-size: 4.3rem;
    text-align: center;
}

.plan__caption {
    text-align: center;
    color: var(--text-secondary);
    margin: .8rem 0 2.6rem;
    font-size: 2rem;
}

.plan__btns {
    width: 23.5rem;
    height: 4.8rem;
    margin: 0 auto;
    background: var(--section-color);
    border-radius: 2rem;
    margin-bottom: 2.4rem;
    padding: .5rem;
    display: flex;
    justify-content: center;

}

.plan__btn {
    color: var(--text-primary);
    padding: .4rem 1.6rem;
}

.plan__btn--active {
    background: var(--btn-color);
    border-radius: 2rem;
}

.plan__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.plan-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52.3rem;
    flex-basis: 33%;
    border: 1px solid var(--text-secondary);
    padding: 4.1rem 4.5rem;

}

.plan-box__logo {
    width: 17.3rem;
    height: 4rem;
}

.plan-box__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plan-box__title {
    margin-top: 2.7rem;
    font-weight: 900;
    font-size: 3rem;
}

.plan-box__caption {
    color: var(--text-secondary);
    margin-bottom: 1.6rem;
    margin-top: 1rem;
}

.plan-box__items {
    max-height: 27rem;
    overflow-y: auto;
}

.plan-box__item {
    display: flex;
    gap: 1rem;

}

.plan-box__item:not(:first-child) {
    margin-top: 1rem;

}

.plan-box__item svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-primary);
    transform: translateY(-1px);

}

.plan-box__item p {
    color: var(--text-secondary);
    max-width: 24rem;
    line-height: 1.6;
}

.plan-box__price {
    font-weight: 900;
    font-size: 3rem;
}

.plan-box__priod {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
}

.plan-box__btn {
    width: 100%;
    height: 6rem;
    background: var(--btn-color);
    color: var(--text-primary);
    display: block;
    margin: 1.6rem auto 0;
    border-radius: .4rem;
    font-size: 1.8rem;
}

.plan__text {
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.2rem;
    margin: 1.5rem 0;
}

.plan__text span {
    color: var(--text-primary);
    margin-top: 1rem;
    display: inline-block;
}

/* about */
.about {
    margin-top: 19rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem
}


.about__img-wrapper {
    flex-basis: 50%;
    flex-shrink: 0;
    max-height: 51.1rem;
}

.about__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__content {
    padding-top: 5rem;
}

.about__title {
    font-weight: 900;
    font-size: 3.8rem;
}

.about__list {
    margin-top: 2.4rem;
}

.about__list-item {
    color: var(--text-secondary);
    font-size: 2rem;
    list-style: disc;

}

.about__list-item:not(:first-child) {
    margin-top: 2rem;
}

/* bundle */
.bundle {
    margin: 19rem 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background: #000f66;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1.5rem 1.2rem;
    min-height: 34rem;
    position: relative;
    z-index: 1;
}

.bundle::after {
    content: '';
    display: block;
    background: linear-gradient(to top, #0619fb 0%, #0619fb 13%, #006df4 13%, #006df4 26%, #01d4fe 26%, #01d4fe 39%, #0edac1 39%, #0edac1 52%, #1ce783 52%, #1ce783 65%, #a8fb58 65%, #a8fb58 78%, #e4fb06 78%, #e4fb06 91%, #efd603 91%, #efd603 100%);
    position: absolute;
    width: 57rem;
    height: 24.3rem;
    z-index: -1;
    transform: rotate(336deg) translate(-25px, -157px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}



.bundle__movies {
    flex-basis: 37%;
}

.bundle__banner-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.bundle__banner-box {
    width: 14.5rem;
    height: 16rem;
    border-radius: 1rem;
    overflow: hidden;
}

.bundle__banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bundle__img {

    width: 20rem;
    display: block;
    margin: 2.6rem auto 1.6rem;
}

.bundle__title {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

.bundle__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    flex-basis: 57%;

}

.bundle__description {
    font-size: 2.4rem;
    max-width: 50rem;
    line-height: 1.5;
}

.bundle__btn {
    display: block;
    background: var(--btn-color);
    height: 6.8rem;
    font-weight: 600;
    line-height: 6.8rem;
    text-align: center;
    border-radius: .5rem;
}

.bundle__terms-btn {
    font-size: 1.2rem;
    text-decoration: underline;
}






/* responsive */
@media screen and (max-width:1280px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        max-width: 768px;
    }

    .media__wrapper {
        grid: auto auto / repeat(2, 1fr);
    }

    .plan-box__title {
        font-size: 2.7rem;
    }

    .plan-box {
        padding: 2rem;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about__img-wrapper {
        flex-basis: 63%;
    }

    .about__content {
        padding-top: 0;
    }

    .about__title {
        font-size: 3rem;
    }

    .about__list-item {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .log-btn {
        display: none;
    }

    .menu {
        display: flex;

    }

    .header__content {
        margin-top: 4rem;
    }

    .header__logos>img:nth-child(1) {
        display: none;
    }

    .header__btns {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .header__btn {
        width: 25rem;
    }

    .header__brand {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .media__tab {
        font-size: 1.8rem;
    }

    .plan__wrapper {
        flex-wrap: wrap;
    }

    .plan-box__logo {
        display: none;
    }

    .plan-box {
        height: 40.3rem;
        flex-basis: calc(50% - 54px);
    }

    .plan-box:last-child {
        flex-basis: 100% !important;
    }

    .about {
        margin-top: 7rem;
    }

    .about__img-wrapper {
        flex-basis: 100%;
    }

    .about__content {
        padding-left: 2rem;
    }

    .bundle {
        flex-wrap: wrap;
        justify-content: center;
    }

    .bundle::after {
        width: 75rem;
        transform: rotate(336deg) translate(-95px, -157px);
    }

    .bundle>* {
        flex-basis: 100%;
    }

    .bundle__banner-wrapper {

        justify-content: center;
    }
}

@media screen and (max-width:600px) {
    .media {
        margin-top: 2rem;
    }

    .media__tab {
        font-size: 1.6rem;
    }

    .media__wrapper {
        grid: auto auto / 1fr;
        gap: .5rem;
        margin-bottom: 7rem;
    }

    .media__tabs {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .plan-box {

        flex-basis: 100%;
    }

    .plan-box__items {
        max-height: 20rem;
    }

    .about__list-item:not(:first-child) {
        margin-top: 1rem;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__list-item {
        font-size: 1.6rem;
    }

    .bundle__title {
        font-size: 3rem;

    }

    .bundle__description {
        font-size: 1.6rem;
    }

    .bundle__banner-wrapper{
        flex-wrap: wrap;
    }

}