/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* rest css */
li {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

button {
    font-family: inherit;
}


input {
    outline: none;
    border: none;
}

/* font */
@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProHeavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProMedium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProRoman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTProBook.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-primary: #F9F9F9;
    --text-secondary: #C0C0C0;
    --btn-color: #0063E5;
    --white: #fff;
    --bg-color: #040714;
    --section-color: #13151D;
}

html {
    font-family: avenir, Arial, Helvetica, sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    color: var(--text-primary);
    background: var(--bg-color);
}

.icons {
    display: none;
}

.container {
    max-width: 127.8rem;
    margin: 0 auto;
}

/* header */
.header {
    width: 100%;
    height: 67.5rem;
    background: url(../images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1rem;
}

.log-btn {
    display: block;
    margin-left: auto;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.8);
    outline: none;
    border: 1px solid var(--text-secondary);
    color: var(--text-primary);
    border-radius: .4rem;
    padding: 1.6rem 1.7rem;
    cursor: pointer;
    font-size: 1.8rem;

}

.menu {
    display: none;
    justify-content: end;
}

.menu button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu svg {
    width: 4rem;
    height: 4rem;
    color: var(--white);
}

.header__content {
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.9rem;
    margin-top: 10rem;
}

.header__btns {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--btn-color);
    width: 30.7rem;
    height: 6.8rem;
    border-radius: .4rem;


}

.header__description {
    font-size: 1.6rem;
    color: var(--text-secondary);
    margin-top: .5rem;
}

.header__caption {
    font-size: 1.2rem;
    color: var(--text-secondary);
    margin-top: -.5rem;
}

.header__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__plan-btn {
    font-size: 2rem;
}

/* main */


.media {}

.media__tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}

.media__tab {
    font-size: 2rem;
    cursor: pointer;
    padding-bottom: 1.2rem;
}

.media__tab--active {
    border-bottom: 4px solid var(--text-primary);
}

.media__wrapper {
    margin-top: 2.4rem;
    margin-bottom: 19.4rem;
    display: grid;
    grid: auto auto / repeat(3, 1fr);
    gap: 2.4rem;
}

.media__box {
    width: 100%;
    height: 100%;
    display: block;
}

.media__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* responsive */
@media screen and (max-width:1280px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width:768px) {
    .container {
        max-width: 100%;
        padding: 0 1rem;
    }

    .log-btn {
        display: none;
    }

    .menu {
        display: flex;

    }

    .header__content {
        margin-top: 4rem;
    }

    .header__logos>img:nth-child(1) {
        display: none;
    }

    .header__btns {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .header__btn {
        width: 25rem;
    }

    .header__brand {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}